<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Power Matter</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">

    <img src="assets/botlogo.png" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/">Commands</span></a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<div class="features">
    <div class="title">Commands</div>
    <div class="subtitle">Commands Of Bot</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">Gives You The Commands Of Bot And With Help commands It Gives More Details About Command</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ban</h5>
                <p class="card-text">Ban People Who Have Been Bad.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bassboost</h5>
                <p class="card-text">Boosts Bast Of Music When Your Playing Songs.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">clear</h5>
                <p class="card-text">Removes A Limit Up To 100 Words Of Messages.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Config</h5>
                <p class="card-text">Change Bots Prefix And Set A DJ Roles</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Disconnect</h5>
                <p class="card-text">Makes Bot Leave VC.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Embed</h5>
                <p class="card-text">Make Bot Says Anything In A Embed Form</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Grab</h5>
                <p class="card-text">Grabs The Song Playing And Sends You It In DM's</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Hack</h5>
                <p class="card-text">"Hack" Your Friends And Get There "Infomation"</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Invite</h5>
                <p class="card-text">Gives You The Bots Invite Link</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Kick</h5>
                <p class="card-text">Kick A Member From The Server</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">loop</h5>
                <p class="card-text">Loops Song That Is Playing In VC</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">loopqueue</h5>
                <p class="card-text">Loops The Whole Queue Of Songs</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Lyrics</h5>
                <p class="card-text">Shows the lyrics of the song searched</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Nowplaying</h5>
                <p class="card-text">See What Song Is Playing In VC</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pause</h5>
                <p class="card-text">Pauses Song THat Is Playing In VC.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ping</h5>
                <p class="card-text">Gives You Bots API And Internet Latancy</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Play</h5>
                <p class="card-text">Plays Song In VC</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Queue</h5>
                <p class="card-text">Shows The Song In The Queue</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Remove</h5>
                <p class="card-text">Remove Song From Queue</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Resume</h5>
                <p class="card-text">Resume's The Song</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">rps</h5>
                <p class="card-text">Plays Rock Paper Scissors Against Bot</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">search</h5>
                <p class="card-text">Shows A Result Of SOngs Based On Search Query</p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">shuffle</h5>
            <p class="card-text">Shuffle Songs In Queue</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">skip</h5>
            <p class="card-text">Skip A Song</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">skipto</h5>
            <p class="card-text">Skip To A Song</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">stats</h5>
            <p class="card-text">Get infomation about bot.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">volume</h5>
            <p class="card-text">Change How Loud Or Quiet The Song Is.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">youtube</h5>
            <p class="card-text">Opens The Youtube Together Activaty</p>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Ready to try Bot?</div>
                <div class="subtitle">Invite Bot and start giving your server cool perks!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=885980356271034368&permissions=8&scope=bot" role="button">Invite Me</a>
            </div><br />
        </div>
    </div>
    <div class="footer">
        <img src="assets/botlogoword.png" width="150"><br />
        <div class="bot-footer">
            Copyright © MCRaspRBX - 2021
        </div><br/>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/now-ui-kit.min.js"></script>
</body>
</html>
